button{
    font-size: 30px;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    /* box-shadow: 2px 2px 6px 0px #6c6b6a; */
    box-shadow: 
      5px 5px 12px rgba(0,0,0,0.4),
      -4px -4px 10px rgba(255,255,255,0.04);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 800;
    background: #d9d9d9;
}


.operations{
    background-color: orange;
}

.operations:active{
    background-color: rgba(255, 166, 0, 0.226);
}

.line{
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.167);
    margin-bottom: 10px;
}
.numbers{
    background-color: black;
}

.numbers:active{
    background-color: rgba(0, 0, 0, 0);
}

.result{
    height: 180px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: rgb(255, 255, 255);
}

.result h1{
    padding: 20px;
}

.clear{
    background-color: grey;
}

.clear:active{
    background-color: rgba(128, 128, 128, 0.315);
}

.main{
    width: 320px;
    height: 520px;
    background-color:#1e1f26;
    border-radius: 30px;
    border: 2px solid rgba(255, 255, 255, 0.199);
    box-shadow:
        12px 12px 25px rgba(0,0,0,0.6),
        -8px -8px 20px rgba(255,255,255,0.05);
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}